* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.cabeçalho {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 15vh;
    width: 100%;
    gap: 1rem; 
    background-color: black;
    color: white;
}

.cabeçalho a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.cabeçalho a:hover {
    color: #f0a500;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh; 
    background-color: white;
}

.cadastro_produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto; 
    width: 400px; 
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.cadastro_produtos h1 {
    margin-bottom: 20px; 
}

.cadastro_produtos input {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.cadastro_produtos input:focus {
    border-color: #4CAF50; 
    outline: none; 
}

.cadastro_produtos button {
    padding: 10px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.cadastro_produtos button:hover {
    background-color: #45a049; 
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color: black;
    color: white;
}

