*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login{
    margin-top: 50px;
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
}
h1{
    color: white;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
input {
    margin-bottom: 1rem; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    width: 100%; 
    max-width: 300px; 
    padding: 0.5rem; 
    font-size: 16px; 
    transition: border-color 0.3s;
    margin: 5px;
    transition: 0.3s;
}

input:hover{
    border-color: #007BFF; 
}

a {
    text-decoration: none;
    color:white;
    transition: 0.3s;
}

a:hover{
    color: gray; 
}

button{
    margin-bottom: 1rem; 
    color: black;
    border: 1px solid #ccc; 
    border-radius: 25px; 
    width: 150px; 
    max-width: 300px; 
    padding: 0.5rem; 
    font-size: 16px; 
}

button:hover{
    color: gray;
}
