{% extends "base.html" %}
{% block title %}Cadastrar Pedido{% endblock %}
{% block content %}

    <div class="container mt-5">
        <h1 class="mb-4">Cadastrar Pedido</h1>
        <form method="POST" action="{{ url_for('cadastrar_pedido') }}">
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" class="form-control" id="data" name="data" required>
            </div>
            <div class="form-group">
                <label for="cli_id">Cliente</label>
                <select class="form-control" id="cli_id" name="cli_id" required>
                    {% for cliente in clientes %}
                        <option value="{{ cliente['cli_id'] }}">{{ cliente['cli_nome'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

{% endblock %}
