<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastrar_produtos.css') }}">
</head>
<body>
    <div class="container">
        <div class="cabeçalho">
            <a href="{{url_for('cadastrar_clientes')}}">Clientes</a>
            <a href="{{url_for('cadastrar_produtos')}}">Produtos</a>
            <a href="{{url_for('cadastrar_pedidos')}}">Pedidos</a>
            <a href="{{url_for('relatorios')}}">Relatórios</a>
        </div>
       
        <div class="conteudo">
            <h1>Cadastro de Produtos</h1>
            <form action="/cadastrar_produto" method="POST">
                <input type="text" name="nome" placeholder="Nome do Produto" required>
                <input type="text" name="descricao" placeholder="Descrição" required>
                <input type="number" name="preco" placeholder="Preço Unitário" required step="0.01">
                <input type="number" name="quantidade" placeholder="Quantidade em Estoque" required>
                <button type="submit">Cadastrar Produto</button>
            </form>
        </div>
        
        <div class="rodape">
            <p>Contato: arlan@gmail.com | Telefone: (00) 0000-0000</p>
        </div>
    </div>
</body>
</html>