{% extends "base.html" %}
{% block title %}Cadastrar Produto{% endblock %}
{% block content %}
<h1>Cadastrar Produto</h1>
<form method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
    </div>
    <div class="mb-3">
        <label for="precouni" class="form-label">Preço Unitário</label>
        <input type="number" step="0.01" class="form-control" id="precouni" name="precouni" required>
    </div>
    <div class="mb-3">
        <label for="quantidade" class="form-label">Quantidade</label>
        <input type="number" class="form-control" id="quantidade" name="quantidade" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}
