{% extends "base.html" %}
{% block title %}Cadastrar Pedido{% endblock %}
{% block content %}

    <div class="container mt-5">
        <h1 class="mb-4">Cadastrar Pedido</h1>
        <form method="POST" action="{{ url_for('cadastrar_pedido') }}">
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" class="form-control" id="data" name="data" required>
            </div>
            <div class="form-group">
                <label for="cli_id">Cliente</label>
                <select class="form-control" id="cli_id" name="cli_id" required>
                    {% for cliente in clientes %}
                        <option value="{{ cliente['cli_id'] }}">{{ cliente['cli_nome'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="produtos">Produtos</label>
                {% for produto in produtos %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="produto_{{ produto['pro_id'] }}" name="produtos" value="{{ produto['pro_id'] }}">
                        <label class="form-check-label" for="produto_{{ produto['pro_id'] }}">
                            {{ produto['pro_nome'] }} - R$ {{ produto['pro_preco'] }}
                        </label>
                        <input type="number" class="form-control mt-2" id="quantidade_{{ produto['pro_id'] }}" name="quantidade_{{ produto['pro_id'] }}" placeholder="Quantidade" min="1" max="{{ produto['pro_estoque'] }}" value="1">
                        <small id="estoque_{{ produto['pro_id'] }}" class="form-text text-muted">
                            Estoque disponível: {{ produto['pro_estoque'] }} unidades.
                        </small>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>

{% endblock %}