{% extends "base.html" %}
{% block title %}Editar Produto{% endblock %}
{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Editar Produto</h1>
    <form method="POST" action="{{ url_for('editar_produto', pro_id=produto['pro_id']) }}">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ produto['pro_nome'] }}" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" required>{{ produto['pro_desc'] }}</textarea>
        </div>
        <div class="form-group">
            <label for="quantidade">Quantidade</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" value="{{ produto['pro_quantidade'] }}" required>
        </div>
        <div class="form-group">
            <label for="preco">Preço</label>
            <input type="text" class="form-control" id="preco" name="preco" value="{{ produto['pro_preco'] }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

{% endblock %}
