<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <title>Login</title>
    
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form action="{{url_for('login')}}", method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="senha" placeholder="Senha">
            <button type="submit">Entrar</button>
            <a href="{{url_for('cadastro')}}">Não se cadastrou? cadastra-se</a>
        </form>
    </div>
</body>
</html>