
<header>
    <style>
        #form-container {
            width: 100%;
            max-width: 600px;
            padding: 20px;
            margin: 0 auto;
        }
        
</style>
{% extends "base_nao_logado.html" %}

{% block content %}

<div class="text-center mt-5">
    <i class="bi bi-person-circle fs-1"></i>
    <p class="fs-3">Bem vindo</p>
</div>


<div id="form-container" class="container mt-5">
    <form class="w-50 mx-auto" method="POST">
        <div class="mb-3">
            <label for="registernome" class="form-label">Nome</label>
            <input type="text" class="form-control rounded-pill" id="registernome" aria-describedby="emailHelp"
                name="nome" required placeholder="Digite seu nome...">
        </div>
        <div class="mb-3">
            <label for="registeremail" class="form-label">Email</label>
            <input type="email" class="form-control rounded-pill" id="registeremail" aria-describedby="emailHelp"
                name="email" required placeholder="Digite seu email...">
            <div id="emailHelp" class="form-text">Não compartilharemos seu e-mail com mais ninguém.</div>
        </div>
        <div class="mb-3">
            <label for="registersenha" class="form-label">Senha</label>
            <input type="password" class="form-control rounded-pill" id="registersenha" name="password" required
                placeholder="Digite sua senha...">
        </div>
        <button type="submit" class="btn btn-primary w-50 mx-auto d-block rounded-pill">Registrar</button>
        <hr>
        <p>Já possui conta? <a class="link-opacity-100" href="{{ url_for('login') }}">Click aqui!</a></p>
    </form>
</div>

{% endblock %}